:root{

}

.caja{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tarjetas{
    font-size: 25px;
    margin: 10px;
    padding: 15px;
    background-color: rgb(255, 157, 9);
    border-radius: 0.8rem;
}

H1{
    color: rgb(216, 130, 0);
    text-align: center;
    margin: 20px;
}
.body{
    background-color: #0a0505;
    font-family: 'Barlow Condensed', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}